.component-spinner
  width 50px
  height 50px
  background transparent
  border-top 4px solid #69f0ae
  border-right 4px solid transparent
  border-radius 50%
  -webkit-animation 0.5s spin linear infinite
  animation 0.5s spin linear infinite
