mat-button-toggle
  font-size 12px

::ng-deep
  .mat-button-toggle-label-content
    line-height 40px !important

.main-content
  margin-top 5px
  padding 0

  button
    text-align left
    width 100%
    height 40px

  mat-list
    padding 0

.main-menu
  display flex
  flex-direction row
  justify-content space-between

  mat-form-field
    width 40%

.main-ripple-container:hover
  background-color #212121
  cursor pointer
