<ais-left-menu-layout>
    <mat-card class="main-menu">
        <mat-form-field color="accent">
            <input #name matInput placeholder="Nazwa">
        </mat-form-field>
        <mat-form-field color="accent">
            <input #mmsi matInput placeholder="Mmsi">
        </mat-form-field>
        <button mat-stroked-button (click)="setFilter(name.value, mmsi.value)">
            Wyszukaj
            <mat-icon>input</mat-icon>
        </button>
    </mat-card>
    <mat-table class="main-table"
               matSort
               matSortDisableClear
               (matSortChange)="changeSort($event)"
               [matSortDirection]="defaultSort.direction"
               [matSortActive]="defaultSort.active"
               multiTemplateDataRows
               [dataSource]="vessels$">

        <ng-container matColumnDef="favorite">
            <mat-header-cell class="favorite" *matHeaderCellDef></mat-header-cell>
            <mat-cell class="favorite" *matCellDef="let element">
                <mat-icon *ngIf="element['favorite']"
                          (click)="removeFavorite(element.id); $event.stopPropagation()"
                          matTooltip="Usuń z ulubionych">star</mat-icon>
                <mat-icon *ngIf="!element['favorite']"
                          (click)="addFavorite(element.id); $event.stopPropagation()"
                          matTooltip="Dodaj do ulubionych">star_outline</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mmsi">
            <mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header>
                <span class="uppercase">mmsi</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mmsi">{{element['mmsi']}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header>
                <span class="uppercase">nazwa</span>
            </mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <span class="name">{{element['name']}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shipType">
            <mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header>
                <span class="uppercase">typ statku</span>
            </mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <span class="mmsi">{{element['shipType']}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header>
                <span class="uppercase">kraj</span>
            </mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <span class="name">{{element['country']}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="main-ripple-container mat-elevation-z4" matRipple
                 *matRowDef="let element; columns: displayedColumns;" (click)="openVessel(element.id)"></mat-row>
    </mat-table>
    <div *ngIf="!(loaded$ | async)" class="main-content-loader">
        <ais-component-spinner></ais-component-spinner>
    </div>
    <mat-card class="paginator-container">
        <mat-paginator [showFirstLastButtons]="true"
                       (page)="changePage($event)"
                       [length]="resultsLength$ | async"
                       [pageSize]="pageSize"
        ></mat-paginator>
    </mat-card>
</ais-left-menu-layout>
