<mat-expansion-panel [expanded]="checkStep()" (opened)="opened.emit(step)" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>Logowanie</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field color="accent">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                Pole email jest wymagane
            </mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <input type="password" matInput placeholder="Hasło" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Pole hasło jest wymagane
            </mat-error>
        </mat-form-field>
    </form>

    <mat-action-row>
        <button mat-stroked-button (click)="login()">
            Zaloguj
            <mat-icon>input</mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>
