.request-spinner
  z-index: 1000
  height 120px
  width 120px
  position fixed
  top 50%
  margin-top -60px
  left 50%
  margin-left -60px
  border 5px solid transparent
  border-top-color #69f0ae
  border-bottom-color #69f0ae
  border-radius 50%
  -webkit-animation spin 3s linear infinite
  animation spin 3s linear infinite

  &::before
    content ''
    position absolute
    top 20px
    right 20px
    bottom 20px
    left 20px
    border 5px solid transparent
    border-top-color #9C27B0
    border-bottom-color #9C27B0
    border-radius 50%
    -webkit-animation spin 1.5s linear infinite
    animation spin 1.5s linear infinite

.cover
  position fixed
  padding 0
  margin 0
  z-index 999
  top 0
  left 0
  width 100%
  height 100%
  background rgba(48, 48, 48, 0.5)

@keyframes spin
  from
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  to
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
