.alert
  display flex
  flex-direction column
  margin-bottom 10px
  padding 20px
  background #fff
  box-shadow 0 6px 4px rgba(0, 0, 0, 0.11)

  .icons
    margin-top -10px
    margin-left -10px
    margin-right -10px

    .close
      float right
      cursor pointer

  &.success
    color #3c763d
    background-color #dff0d8

  &.danger
    color #ffffff
    background-color #a94442

  &.warning
    color #ffffff
    background-color #8a6d3b

  &.info
    color #ffffff
    background-color #31708f

  &.error
    color #ffffff
    background-color #a94442
