<div [class]="getClass()"
     [@fadeAnimation]="{value: animationState, params: { fadeIn: 300, fadeOut: 2500 }}"
     (@fadeAnimation.done)="onFadeFinished($event)">
    <div class="icons">
        <mat-icon>{{ iconType }}</mat-icon>
        <mat-icon class="close" (click)="close()">close</mat-icon>
    </div>
    <div *ngIf="alertText">{{ alertText }}</div>
    <ng-template #dynamic></ng-template>
</div>
