<ais-left-menu-layout>
    <div *ngIf="vessel">
        <div>
            <span>Statek:</span>
            &nbsp;
            <span>{{vessel.name}}</span>
        </div>
        <div>
            <span>MMSI:</span>
            &nbsp;
            <span>{{vessel.mmsi}}</span>
        </div>
        <div>
            <span>IMO:</span>
            &nbsp;
            <span>{{vessel.imo}}</span>
        </div>
        <div>
            <span>Nazwa AIS:</span>
            &nbsp;
            <span>{{vessel.aisName}}</span>
        </div>
        <div>
            <span>COG:</span>
            &nbsp;
            <span>{{vessel.cog}}</span>
        </div>
        <div>
            <span>IRCS:</span>
            &nbsp;
            <span>{{vessel.ircs}}</span>
        </div>
        <div>
            <span>Kraj:</span>
            &nbsp;
            <span>{{vessel.country}}</span>
        </div>
        <div>
            <span>Nazwa :</span>
            &nbsp;
            <span>{{vessel.shipRegisterName}}</span>
        </div>
    </div>
    <mat-card class="notify-container">
        Utwórz powiadomienie o wpłynięciu statku w wybraną strefę
        <button mat-stroked-button (click)="createNotify()">
            Rejestruj
            <mat-icon>input</mat-icon>
        </button>
    </mat-card>
    <div>Mapa odświeża się co 10 sekund.</div>
    <div class="map">
        <div #mapTest></div>
    </div>
</ais-left-menu-layout>
