<mat-sidenav-container class="layout-container">
    <mat-sidenav #sidenav class="layout-left-menu mat-elevation-z10"
                 [opened]="!isScreenSmall()"
                 [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">Ulubione</mat-toolbar>
        <mat-list *ngIf="(vessels$ | async) as vessels">
            <mat-list-item *ngFor="let vessel of vessels" (click)="openVessel(vessel.id)" matRipple>{{vessel.name}}</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <div class="layout-content">
        <ais-top-bar (toggleEmitter)="toggle()"></ais-top-bar>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</mat-sidenav-container>
