.layout-container
  flex 1
  position fixed
  width 100%
  height 100%
  min-width 100%
  min-height 100%
  left 0
  top 0

  .layout-left-menu
    width 240px

  .layout-content
    display flex
    height 100%
    flex-direction column

    .content
      margin 50px

.mat-list-item:hover
  background-color #212121
  cursor pointer
