<mat-accordion class="example-headers-align">
    <ais-login [selectedStep]="selectedStep" (opened)="setStep($event)"></ais-login>
    <ais-registration [selectedStep]="selectedStep" (opened)="setStep($event)"></ais-registration>

</mat-accordion>
