<mat-toolbar>
    <button mat-button class="left-menu-toggle" (click)="menuToggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="route('main')" mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Strona główna</span>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Wyloguj</span>
        </button>
    </mat-menu>
</mat-toolbar>
