<mat-expansion-panel [expanded]="checkStep()" (opened)="opened.emit(step)" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>Rejestracja</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="registrationForm" (submit)="register()">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registrationForm.controls['email'].hasError('email') && !registrationForm.controls['email'].hasError('required')">
                Proszę wprowadzić prawidłowy email
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                Pole email jest wymagane
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nazwa użytkownika" formControlName="userName">
            <mat-error *ngIf="registrationForm.controls['userName'].hasError('userNameTooShort')">
                Login jest za krótki
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['userName'].hasError('required')">
                Pole login jest wymagane
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Hasło" formControlName="password">
            <mat-error *ngIf="registrationForm.controls['password'].hasError('passwordIsToWeak')">
                Hasło jest za słabe
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                Pole hasło jest wymagane
            </mat-error>
        </mat-form-field>
    </form>

    <mat-action-row>
        <button mat-stroked-button (click)="register()">
            Rejestruj
            <mat-icon>input</mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>
