@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'

html
  height 100%

body
  display flex
  justify-content center
  align-items center
  min-height 100%
  padding 0
  margin 0
  background #303030
