<div class="header">
    <mat-icon class="cancel-icon" (click)="cancel()">clear</mat-icon>
    <h1 class="title" mat-dialog-title>Wybierz strefę</h1>
    <mat-icon class="confirm-icon" (click)="submit()" color="primary">done</mat-icon>
</div>
<mat-divider></mat-divider>
<div class="content">
    <form [formGroup]="form" (submit)="submit()">
        <div>
            <span>Czas aktywności sprawdzania:</span>
            <input matInput placeholder="Ilość minut" type="number" formControlName="minutes">
        </div>
        <mat-error *ngIf="hasError('required')">
            Wybierz ilość minut
        </mat-error>
        <mat-error *ngIf="(hasError('max') || hasError('min')) && !hasError('required')">
            Wartość musi zawierać się między 60 a 1200
        </mat-error>
    </form>
    <div #map class="map"></div>
</div>
