:host
  display flex
  flex-direction column
  height 100%

.header
  display flex
  justify-content center
  align-items center

  mat-icon
    width auto
    cursor pointer
    margin-bottom 20px

  .confirm-icon
    color yellowgreen

  .title
    width 100%
    text-align center

.content
  margin-bottom 20px
  margin-top 20px
  text-align center
  width 100%
  height 100%

  .map
    height 100%
